<!DOCTYPE html>
<html>
	{% import 'fragment/macros.html' as macro %}
	<head>
		{{ macro.head() }}
		<title>Nextmods - {{ mod.info.name }}</title>
		{{ include_css('_static/common.css', '_static/mod.css', '_static/mod-page.css') | safe }}
	</head>
	<body>
		{% include 'fragment/header.html' %}
		<div class="banner-container">
			{{ macro.picture(mod.banner_picture, 'banner-image') }}
			<div class="banner-overlay-left">
				<div class="banner-mod-category">{{ mod.info.category }}</div>
				<div class="banner-mod-name">{{ mod.info.name }}</div>
				<div class="banner-mod-last-update"><span>Last Update:</span>{{ mod.info.update_date }}</div>
				<div class="banner-mod-author"><span>Author:</span>{{ mod.info.creators | join(", ", attribute='name') }}</div>
			</div>
			<div class="banner-overlay-right">
					<div class="banner-install">Install</div>
			</div>
		</div>
		<div class="preview-thumb-container">
			{% for preview in mod.image_previews %}
				<a class="preview-thumb-a" href="#{{ preview.id }}">
					{{ macro.picture(preview.thumb_pictures, 'preview-thumb-img') }}
				</a>
			{% endfor %}
		</div>
		<div class="preview-grid-container">
			{% for preview in mod.image_previews %}
				<div class="preview-grid" id="{{ preview.id }}">
					<div class="preview-image-back">
						{{ macro.picture(preview.thumb_pictures, 'preview-thumb-img') }}
						<p>Loading ...</p>
					</div>
					{{ macro.picture(preview.picture, 'preview-image-front', 'lazy') }}
					<a href="#{{ preview.prev_id }}" class="light-btn btn-prev">
						<div class="preview-btn-lbl preview-btn-lbl-prev">Prev</div>
					</a>
					<a href="#{{ preview.next_id }}" class="light-btn btn-next">
						<div class="preview-btn-lbl preview-btn-lbl-next">Next</div>
					</a>
					<a href="#_" class="light-btn btn-close">
						<div class="preview-btn-lbl preview-btn-lbl-close">Close X</div>
					</a>
				</div>
			{% endfor %}
		</div>
		<ul class="tags-container">
			{% for tag in mod.tags.entries %}
				<li><a href="{{ relpath('tag', tag[0]+'.html') }}">{{ tag[1] }}</a></li>
			{% endfor %}
		</ul>
		<details class="detail-info">
			<summary>Info</summary>
			<div clas="content">
				{{ mod.info_html | safe }}
			</div>
		</details>
		<main>
			{{ mod.page_html | safe }}
		</main>
		{{ macro.footer() }}
	</body>
</html>
