<!DOCTYPE html>
<html>
	{% import 'fragment/macros.html' as macro with context %}
	<head>
		{{ macro.head() | ind(2) }}
		<title>{{ config.instance_name }} - {{ mod.info.name }}</title>
		{{ macro.style(('_static/common.css', '_static/mod.css', '_static/mod-page.css')) | ind(2) }}
	</head>
	<body>
		{{ macro.header(groups) | ind(2) }}
		<div class="banner">
			{% if mod.banner_picture %}
			{{ macro.picture(mod.banner_picture, 'banner-image') | ind(3) }}
			{% else %}
			<div class="banner-image"></div>
			{% endif %}
			<div class="banner-overlay-left">
				<div class="name">{{ mod.info.name }}</div>
				<a class="category" href="{{ mod.info.category | makepath }}">{{ mod.info.category.name }}</a>
				<div class="creators"><span class="small">by</span>
				{% for creator in mod.info.creators -%}
				<a class="creator" href="{{ creator | makepath }}">{{ creator.name }}</a>
				{%- endfor %}
				</div>
			</div>
			<div class="banner-overlay-right">
				<div class="banner-install">Install</div>
			</div>
		</div>
		{% if mod.image_previews %}
		<div class="preview-thumb-container">
			{% for preview in mod.image_previews %}
				<a class="preview-thumb-a" href="#{{ preview.id }}">
					{{ macro.picture(preview.thumb_pictures, 'preview-thumb-img') | ind(5) }}
				</a>
			{% endfor %}
		</div>
		<div class="preview-grid-container">
			{% for preview in mod.image_previews %}
				<div class="preview-grid" id="{{ preview.id }}">
					<div class="preview-image-back">
						{{ macro.picture(preview.thumb_pictures, 'preview-thumb-img') | ind(6) }}
						<p>Loading ...</p>
					</div>
					{{ macro.picture(preview.picture, 'preview-image-front', 'lazy') | ind(5) }}
					<a href="#{{ preview.prev_id }}" class="light-btn btn-prev">
						<div class="preview-btn-lbl preview-btn-lbl-prev">Prev</div>
					</a>
					<a href="#{{ preview.next_id }}" class="light-btn btn-next">
						<div class="preview-btn-lbl preview-btn-lbl-next">Next</div>
					</a>
					<a href="#_" class="light-btn btn-close">
						<div class="preview-btn-lbl preview-btn-lbl-close">Close X</div>
					</a>
					<div class="index">{{ preview.index }}/{{ mod.image_previews | length}}</div>
					<div class="description">{{ preview.description }}</div>
				</div>
			{% endfor %}
		</div>
		{% endif %}
		<div class="info-container">
			<div class="update"><span>Released:</span>{{ mod.info.release_date }}</div>
			<div class="update"><span>Updated:</span>{{ mod.info.update_date }}</div>
		</div>
		<ul class="tags-container">
			{% for tag in mod.info.tags %}
				<li><a href="{{ tag | makepath }}">{{ tag[1] }}</a></li>
			{% endfor %}
		</ul>
		<details class="detail-info">
			<summary>Info</summary>
			<div clas="content">
				{{ info_html | safe | ind(4) }}
			</div>
		</details>
		<main>
			{{ page_html | safe | ind(3) }}
		</main>
		{{ macro.footer() | ind(2) }}
	</body>
</html>
