#search-wrap {
	/* overflow: hidden; */
	height: 48px;
}

.search-box {
		
}

#search-box:focus {
	width: 600px;
}

.search-results {
	position: relative;
	background-color: #051b1f;
	top: 10px;
	right: 10px;
	max-width: 600px;
}

.search-results.hidden {
	display: none;
}
